In [ ]:
import torch
from torch.utils.data import Dataset, DataLoader

In [6]:
%load_ext autoreload
%autoreload 2

In [3]:
!pip install torchmetrics

Collecting torchmetrics
  Downloading torchmetrics-1.0.2-py3-none-any.whl (731 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 731.1/731.1 kB 8.3 MB/s eta 0:00:00
Requirement already satisfied: numpy>1.20.0 in /usr/local/lib/python3.10/dist-packages (from torchmetrics) (1.22.4)
Requirement already satisfied: torch>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from torchmetrics) (2.0.1+cu118)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from torchmetrics) (23.1)
Collecting lightning-utilities>=0.7.0 (from torchmetrics)
  Downloading lightning_utilities-0.9.0-py3-none-any.whl (23 kB)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from lightning-utilities>=0.7.0->torchmetrics) (4.7.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch>=1.8.1->torchmetrics) (3.12.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.8.1->torchmetrics) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.8.1->torchmetrics) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.8.1->torchmetrics) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.8.1->torchmetrics) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.8.1->torchmetrics) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.8.1->torchmetrics) (16.0.6)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.8.1->torchmetrics) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.8.1->torchmetrics) (1.3.0)
Installing collected packages: lightning-utilities, torchmetrics
Successfully installed lightning-utilities-0.9.0 torchmetrics-1.0.2

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import torch
from torch.utils.data import Dataset, DataLoader
from CreditCard.utils import Encoder

In [5]:
df = pd.read_csv("credit_customers.csv",encoding = "utf-8")
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

## Dataset creation

In [11]:
# label = le.fit_transform(df['checking_status'])
columns = ['checking_status','credit_history','purpose','savings_status','employment','personal_status',
           'other_parties','property_magnitude','other_payment_plans','housing','job','own_telephone',
           'foreign_worker','class']

In [12]:
encoded_df = Encoder(df, columns)

In [13]:
encoded_df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,1,6.0,1,6,1169.0,4,3,4.0,3,2,...,3,67.0,1,1,2.0,1,1.0,1,1,1
1,0,48.0,3,6,5951.0,2,0,2.0,0,2,...,3,22.0,1,1,1.0,1,1.0,0,1,0
2,3,12.0,1,2,2096.0,2,1,2.0,3,2,...,3,49.0,1,1,1.0,3,2.0,0,1,1
3,1,42.0,3,3,7882.0,2,1,2.0,3,1,...,1,45.0,1,0,1.0,1,2.0,0,1,1
4,1,24.0,2,4,4870.0,2,0,3.0,3,2,...,2,53.0,1,0,2.0,1,2.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,12.0,3,3,1736.0,2,1,3.0,0,2,...,3,31.0,1,1,1.0,3,1.0,0,1,1
996,1,30.0,3,9,3857.0,2,0,4.0,1,2,...,1,40.0,1,1,1.0,0,1.0,1,1,1
997,3,12.0,3,6,804.0,2,3,4.0,3,2,...,0,38.0,1,1,1.0,1,1.0,0,1,1
998,1,45.0,3,6,1845.0,2,0,4.0,3,2,...,2,23.0,1,0,1.0,1,1.0,1,1,0
999,0,45.0,1,9,4576.0,0,4,3.0,3,2,...,0,27.0,1,1,1.0,1,1.0,0,1,1

In [14]:
from collections import Counter
Counter(encoded_df['class'])

Counter({1: 700, 0: 300})

In [15]:
X = encoded_df.iloc[:,:-1]
y = encoded_df.iloc[:,-1]

In [16]:
y

0      1
1      0
2      1
3      1
4      0
      ..
995    1
996    1
997    1
998    0
999    1
Name: class, Length: 1000, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [18]:
X_train.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
749,3,15.0,3,9,3029.0,2,1,2.0,3,2,2.0,0,33.0,1,1,1.0,1,1.0,0,1
383,2,12.0,3,4,1330.0,2,2,4.0,3,2,1.0,3,26.0,1,1,1.0,1,1.0,0,1
916,3,10.0,3,9,2848.0,0,0,1.0,3,0,2.0,3,32.0,1,1,1.0,1,2.0,0,1
785,0,18.0,3,0,1941.0,3,0,4.0,3,2,2.0,1,35.0,1,1,1.0,3,1.0,1,1
107,0,12.0,3,4,6078.0,2,1,2.0,3,2,2.0,0,32.0,1,1,1.0,1,1.0,0,1

### Training

In [21]:
from torch.utils.tensorboard import SummaryWriter
%reload_ext tensorboard

In [22]:
from CreditCard.model import BinModel
from imblearn.under_sampling import RandomUnderSampler
import numpy as np
from sklearn.model_selection import StratifiedKFold
writer = SummaryWriter()

In [23]:
kfold = StratifiedKFold(n_splits=5, shuffle=True)
cv_scores = []
fold = 1
for train, test in kfold.split(X_train, y_train):
    # create model, train, and get accuracy
    print("Fold:",fold)
    model = BinModel()
    under = RandomUnderSampler()
    X_training, y_training = under.fit_resample( X.iloc[train], y.iloc[train])
    X_testing, y_testing = under.fit_resample( X.iloc[test], y.iloc[test])
    # print(y_training)
    acc = model.model_train(model,
                      torch.tensor(X_training.values).to(torch.float32),
                      torch.tensor(y_training).view(-1, 1).to(torch.float32),
                      torch.tensor(X_testing.values).to(torch.float32),
                      torch.tensor(y_testing).view(-1, 1).to(torch.float32),
                      30,writer,fold
                      )
    print("Accuracy: %.2f" % acc)
    # print(Counter(y.iloc[test].values))
    print(Counter(y_testing))
    cv_scores.append(acc)
    fold+=1

# evaluate the model
acc = np.mean(cv_scores)
std = np.std(cv_scores)
print("Model accuracy: %.2f%% (+/- %.2f%%)" % (acc*100, std*100))

Fold: 1
Accuracy: 0.73
Counter({0: 48, 1: 48})
Fold: 2
Accuracy: 0.72
Counter({0: 54, 1: 54})
Fold: 3
Accuracy: 0.77
Counter({0: 50, 1: 50})
Fold: 4
Accuracy: 0.73
Counter({0: 61, 1: 61})
Fold: 5
Accuracy: 0.82
Counter({0: 55, 1: 55})
Model accuracy: 75.38% (+/- 3.63%)

In [ ]:
y_pred = model(torch.tensor(X_test.values).to(torch.float32))
acc = (y_pred.round().detach().numpy().flatten() == y_test).mean()
acc = float(acc)

In [ ]:
acc

0.74

In [ ]:
y_pred.round().detach().numpy().flatten()

array([0., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0.,
       0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0.,
       1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1.,
       0., 0., 1., 1., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0.,
       1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 0.,
       0., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1.],
      dtype=float32)

#### removed weight of BCELoss

In [ ]:
from sklearn.model_selection import StratifiedKFold
kfold = StratifiedKFold(n_splits=5, shuffle=True)
cv_scores = []
fold = 1
for train, test in kfold.split(X_train, y_train):
    # create model, train, and get accuracy
    print("Fold:",fold)
    model = BinModel()
    under = RandomUnderSampler()
    X_training, y_training = under.fit_resample( X.iloc[train], y.iloc[train])
    X_testing, y_testing = under.fit_resample( X.iloc[test], y.iloc[test])
    # print(y_training)
    acc = model.model_train(model,
                      torch.tensor(X_training.values).to(torch.float32),
                      torch.tensor(y_training).view(-1, 1).to(torch.float32),
                      torch.tensor(X_testing.values).to(torch.float32),
                      torch.tensor(y_testing).view(-1, 1).to(torch.float32),
                      False
                      # torch.tensor(X.iloc[test].values).to(torch.float32),
                      # torch.tensor(y.iloc[test].values).view(-1, 1).to(torch.float32)
                      )
    print("Accuracy: %.2f" % acc)
    # print(Counter(y.iloc[test].values))
    print(Counter(y_testing))
    cv_scores.append(acc)
    fold+=1

# evaluate the model
acc = np.mean(cv_scores)
std = np.std(cv_scores)
print("Model accuracy: %.2f%% (+/- %.2f%%)" % (acc*100, std*100))

Fold: 1
Accuracy: 0.74
Counter({0: 49, 1: 49})
Fold: 2
Accuracy: 0.72
Counter({0: 67, 1: 67})
Fold: 3
Accuracy: 0.65
Counter({0: 46, 1: 46})
Fold: 4
Accuracy: 0.75
Counter({0: 53, 1: 53})
Fold: 5
Accuracy: 0.76
Counter({0: 53, 1: 53})
Model accuracy: 72.46% (+/- 3.93%)

In [ ]:
y_pred = model(torch.tensor(X_test.values).to(torch.float32))
acc = (y_pred.round().detach().numpy().flatten() == y_test).mean()
acc = float(acc)

In [ ]:
acc

0.73

#### Weight to 0.3

In [ ]:
from sklearn.model_selection import StratifiedKFold
kfold = StratifiedKFold(n_splits=5, shuffle=True)
cv_scores = []
fold = 1
for train, test in kfold.split(X_train, y_train):
    # create model, train, and get accuracy
    print("Fold:",fold)
    model = BinModel()
    under = RandomUnderSampler()
    X_training, y_training = under.fit_resample( X.iloc[train], y.iloc[train])
    X_testing, y_testing = under.fit_resample( X.iloc[test], y.iloc[test])
    # print(y_training)
    acc = model.model_train(model,
                      torch.tensor(X_training.values).to(torch.float32),
                      torch.tensor(y_training).view(-1, 1).to(torch.float32),
                      torch.tensor(X_testing.values).to(torch.float32),
                      torch.tensor(y_testing).view(-1, 1).to(torch.float32),
                      0.30
                      # torch.tensor(X.iloc[test].values).to(torch.float32),
                      # torch.tensor(y.iloc[test].values).view(-1, 1).to(torch.float32)
                      )
    print("Accuracy: %.2f" % acc)
    # print(Counter(y.iloc[test].values))
    print(Counter(y_testing))
    cv_scores.append(acc)
    fold+=1

# evaluate the model
acc = np.mean(cv_scores)
std = np.std(cv_scores)
print("Model accuracy: %.2f%% (+/- %.2f%%)" % (acc*100, std*100))

Fold: 1
Accuracy: 0.71
Counter({0: 46, 1: 46})
Fold: 2
Accuracy: 0.72
Counter({0: 51, 1: 51})
Fold: 3
Accuracy: 0.75
Counter({0: 57, 1: 57})
Fold: 4
Accuracy: 0.70
Counter({0: 60, 1: 60})
Fold: 5
Accuracy: 0.72
Counter({0: 54, 1: 54})
Model accuracy: 71.80% (+/- 1.58%)

In [ ]:
y_pred = model(torch.tensor(X_test.values).to(torch.float32))
acc = (y_pred.round().detach().numpy().flatten() == y_test).mean()
acc = float(acc)
acc

0.73

#### Weights to 0.7

In [ ]:
from sklearn.model_selection import StratifiedKFold
kfold = StratifiedKFold(n_splits=5, shuffle=True)
cv_scores = []
fold = 1
for train, test in kfold.split(X_train, y_train):
    # create model, train, and get accuracy
    print("Fold:",fold)
    model = BinModel()
    under = RandomUnderSampler()
    X_training, y_training = under.fit_resample( X.iloc[train], y.iloc[train])
    X_testing, y_testing = under.fit_resample( X.iloc[test], y.iloc[test])
    # print(y_training)
    acc = model.model_train(model,
                      torch.tensor(X_training.values).to(torch.float32),
                      torch.tensor(y_training).view(-1, 1).to(torch.float32),
                      torch.tensor(X_testing.values).to(torch.float32),
                      torch.tensor(y_testing).view(-1, 1).to(torch.float32),
                      0.70
                      # torch.tensor(X.iloc[test].values).to(torch.float32),
                      # torch.tensor(y.iloc[test].values).view(-1, 1).to(torch.float32)
                      )
    print("Accuracy: %.2f" % acc)
    # print(Counter(y.iloc[test].values))
    print(Counter(y_testing))
    cv_scores.append(acc)
    fold+=1

# evaluate the model
acc = np.mean(cv_scores)
std = np.std(cv_scores)
print("Model accuracy: %.2f%% (+/- %.2f%%)" % (acc*100, std*100))

Fold: 1
Accuracy: 0.76
Counter({0: 52, 1: 52})
Fold: 2
Accuracy: 0.75
Counter({0: 59, 1: 59})
Fold: 3
Accuracy: 0.67
Counter({0: 61, 1: 61})
Fold: 4
Accuracy: 0.74
Counter({0: 48, 1: 48})
Fold: 5
Accuracy: 0.72
Counter({0: 48, 1: 48})
Model accuracy: 72.89% (+/- 3.17%)

In [ ]:
y_pred = model(torch.tensor(X_test.values).to(torch.float32))
acc = (y_pred.round().detach().numpy().flatten() == y_test).mean()
acc = float(acc)
acc

0.66

In [26]:
!zip -r "creditcard.zip" CreditCard

  adding: CreditCard/ (stored 0%)
  adding: CreditCard/utils.py (deflated 34%)
  adding: CreditCard/__pycache__/ (stored 0%)
  adding: CreditCard/__pycache__/model.cpython-310.pyc (deflated 38%)
  adding: CreditCard/__pycache__/utils.cpython-310.pyc (deflated 25%)
  adding: CreditCard/.ipynb_checkpoints/ (stored 0%)
  adding: CreditCard/model.py (deflated 66%)